.about-section{
    background: linear-gradient(rgb(9, 13, 43), rgb(5, 49, 5));
}

.overlay_about{
    background: rgba(128, 128, 128, 0.562);
}

@media screen and (max-width: 890px) {
.personal-bg-cut{
    margin: 0 auto;
}
}