.custom-shape-divider-top-1712171333 {
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.opct-tecnofit{
    opacity: 0;
}

.custom-shape-divider-top-1712171333 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
}

.custom-shape-divider-top-1712171333 .shape-fill {
    fill: #b10303;
}

.custom-shape-divider-bottom-1712172840 {
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1712172840 svg {
    position: relative;
    display: block;
    width: calc(190% + 1.3px);
    height: 100px;
}

@media screen and (max-width: 885px) {
  .custom-shape-divider-bottom-1712172840 svg {
    height: 80px;
}
}

@media screen and (max-width: 772px) {
  .custom-shape-divider-bottom-1712172840 svg {
    height: 80px;
}
}

.custom-shape-divider-bottom-1712172840 .shape-fill {
    fill: #781c44;
}

.btn-shine {
    color: #ffffff;
    background: linear-gradient(to right, #e23f3f 0, white 10%, #da2c2c 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
  }

  .btn-shine2 {
    color: #ffffff;
    background: linear-gradient(to right, #5ae23f 0, white 10%, #5ada2c 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    -webkit-text-size-adjust: none;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
  }
  
  @keyframes shine {
    0% {
      background-position: 0;
    }
    60% {
      background-position: 180px;
    }
    100% {
      background-position: 360px;
    }
  }
  