
.hero-cont{
    background: url(../../../../public/assets/img/threeherobgcustom.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 941px){
    .hero-cont{
    background: url(../../../../public/assets/img/threeherobgcustom.png);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    }
}


@media screen and (max-width: 768px){
    
    .hero-cont{
        background: url(../../../../public/assets/img/threeherobgdarker.png);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
        height: fit-content; padding-bottom: 20px;
    }

    .hero-content1{
       background: rgba(26, 25, 25, 0.63);
       margin-top: 0;
       border-radius: 20px;
    }

    .hero-content2{
        background: rgba(26, 25, 25, 0.63);
         border-radius: 20px;
         height: fit-content;
         margin-top: 0;
     }
    }

    @media screen and (max-width: 668px){
    
        .hero-cont{
            background-position-x: -70px;
        }
    }
    
    @media screen and (max-width: 602px){
    
        .hero-cont{
            background-position-x: -120px;
        }
    }
    

.hero-content1{
    button{
        background-color: rgba(47, 248, 20, 0.377);
        border-radius: 20px;
    }
}

.hero-content2{
    h1{
        color: rgb(57, 105, 238);
        width: fit-content;
        text-shadow: 1px 2px 2.3px rgb(255, 255, 255);
        font-weight: bold;
        align-self: center;
    }
    h2{
        color: rgb(116, 201, 123);
        text-shadow: 1px 2px 5px rgb(189, 232, 252);
        border-bottom: 3px solid white;
        border-radius: 15px;
        width: 390px;
        align-self: center;
    }
    img{
        border-image: linear-gradient(rgba(160, 160, 160, 0.445),rgba(0, 60, 255, 0.692)) 1/20%;
        border-radius: 50%;
    }
}

@media screen and (max-width: 400px) {
    .hero-content2 h2{
        width: 300px;
        font-size: 25px;
    }
}

.hero-content-chd{
    justify-content: space-between !important;
}