@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.hero-content-h1{
    font-family: "Kode Mono", monospace;
font-optical-sizing: auto;
color: aliceblue;
}
   .hero-content-h2{
        font-family: "Kode Mono", monospace;
  font-optical-sizing: auto; 
  color: rgb(162, 212, 255);
  width: 400px;
    }
    .hero-content-h3{
        font-family: "Kode Mono", monospace;
  font-optical-sizing: auto; 
  text-decoration: underline;
    }
    .hero-content1 button{
        font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: bold;
    }


.hero-content-h1{
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
    
.hero-content-h2{
        font-family: "Dancing Script", cursive;
  font-optical-sizing: auto; 
    }

@media screen and (max-width: 400px) {
    .hero-content-h2{
        font-size: 20px;
       }
}