.planos-cards{
    width: 300px;
}

@media screen and (max-width: 900px) {
    .planos-cards{
        width: 230px;
    }
}
@media screen and (max-width: 700px) {
    .planos-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}