.planos-cards{
    width: 300px;
}

.bg-gif {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/gymbg.webp');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 900px) {
    .planos-cards{
        width: 230px;
    }
}
@media screen and (max-width: 700px) {
    .planos-cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}