.personalpg-container{
    background-image: url(../../../public/assets/img/personalpagebg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.personal-dad{
    background-color: #12127a;
}

.overlay-personal{
    background: rgba(0, 0, 0, 0.666);
}
